<section>
    <h3>ICE ?</h3>
    <p>C’est en 2009 que Nadim El Boustani fonde ICE EFREI, une association qui a pour but d'innover, concevoir
        et faire évoluer. Depuis lors, son bureau s’efforce d’accueillir tous les étudiants de l’EFREI intéressés par
        les technologies et voulant en découvrir de nouvelles.</p>
</section>
<section>
    <h3>Socials</h3>
    <ul class="links">
        <li><a target="_blank" href="https://www.linkedin.com/company/ice-efrei">LinkedIn</a></li>
        <li><a target="_blank" href="https://github.com/ice-efrei">Github</a></li>
        <li><a target="_blank" href="https://instagram.com/ice_efrei">Instagram</a></li>
        <li><a target="_blank" href="https://www.twitch.tv/ice_efrei">Twitch</a></li>
        <li><a target="_blank" href="https://discord.gg/gpMR7WVyQQ">Discord</a></li>
        <li><a target="_blank" href="https://fr-fr.facebook.com/assos.IceEfrei">Facebook</a></li>
    </ul>
</section>
