{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" .Site.Params.enableSourceMaps) }}
{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $options }}
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
<meta
        name="description"
        content="ICE EFREI, association de R&D dans les NTIC" />
<meta
        property="og:image"
        content="/images/ogbanner.jpg" />
<meta
        property="og:description"
        content="ICE EFREI, Association de R&D dans les Nouvelles Technologies
        d'Information et de Communication (NTIC)" />
<meta property="og:title" content="ICE EFREI" />
<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
{{- partial "analytics/google-tag-manager/head.html" . -}}
{{- partial "head/custom.html" . -}}
